<div class="email-container" style="width: 80vw; height: 250px; background-color:#5C9EAD;">
  <div class="header">
    <h1 style="text-align: center;color: #ececec;font-size: 1.8rem;font-size: 2rem;background-color: #E39774;padding: 5px;border-radius: 15px;">DisneyAPI
      Alkemy Challenge</h1>
    <h4 style="text-align: center;">Se ha registrado con exito! Inicie sesion en la API para obtener un token de acceso y poder utilizar todas las
      rutas.</h4>
  </div>
</div>